{% extends "entries/base.html" %}

{% block content %} 

	<div class="col-md-8">

		{% for entry in blog_entries %}

		<div class="card md-4">
			<div class="card-body">
				<h2 class="card-title">{{ entry.entry_author }}</h2>
				<p class="card-text">{{ entry.entry_text }}</p>
				<a href="{% url 'entry-detail' entry.pk %}" class="btn btn-primary">Read More &arr;</a>
			</div>
			<div class="card-footer text-muted">
				Posted on: {{ entry.entry_date }}
				<br>
				Entry: {{ entry.id }}
			</div>
		</div>
		{% endfor %}

	</div>
{% endblock %}